body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.jumbotron {
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

pre {
	padding: 0;
}

select {
	width: 100px;
}

label {
	display: block;
}